<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col width-100>
      <ion-item>
        <strong>App Name:</strong> bWeather
      </ion-item>

      <ion-item>
          <strong>Version:</strong> 1.0.0
        </ion-item>

        <ion-item>
            <strong>Description:</strong> Simple Weather App
          </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
