<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="home">
  <div *ngIf="loading">loading.....</div>
  <ion-grid *ngIf="currentWeather">
    <ion-row>
      <ion-col>
        <div class="section_bg">
          <div class="cloud_img">
            <h2>{{currentWeather.location.country}},&nbsp; {{currentWeather.location.name}}</h2>
            <img src="{{currentWeather.current.condition.icon}}">
            <h3 class="desc">{{currentWeather.current.condition.text}}</h3>
            <h1 class="temp">{{currentWeather.current.temp_c}}&deg;</h1>
            <button ion-button color="dark" round>{{currentWeather.current.last_updated|date}}</button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 p-0>
        <ion-list>
          <ion-item>
            <strong>Temp: </strong>{{currentWeather.current.temp_f}}&deg;
          </ion-item>
          <ion-item>
            <strong>Relative Humidity: </strong>{{currentWeather.current.humidity}}&deg;
          </ion-item>
          <ion-item>
            <strong>Wind: </strong>{{currentWeather.current.wind_mph}}mph;
          </ion-item>
          <ion-item>
            <strong>Wind Direction: </strong>{{currentWeather.current.wind_dir}}
          </ion-item>
          <ion-item>
            <strong>Pressure: </strong>{{currentWeather.current.pressure_mb}}mb;
          </ion-item>
          <ion-item>
            <strong>Cloud: </strong>{{currentWeather.current.cloud}};
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
