page-home {
  background: linear-gradient(top, rgba(90, 159, 200, 1) 0%, rgba(163, 188, 205, 1) 99%, rgba(188, 224, 238, 1) 100%);
  .section_bg {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    h2 {
      margin: 1px;
    }
    h3 {
      margin: 0px;
    }
    h1 {
      font-size: 10rem;
      margin: 0px;
    }
    img {
      width: 80px;
    }
  }
  .item-md {
    text-align: center;
    margin-top: 10px;
    background-color: rgba(9, 154, 243, 0);
    color: #ffffff;
  }
}

//#52595B
