<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row padding>
        <ion-col>
              Add a town/city  and Country
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <form (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label floating>City</ion-label>
              <ion-input type="text" [(ngModel)]="city" name="city"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Country</ion-label>
              <ion-input type="text" [(ngModel)]="country" name="state"></ion-input>
            </ion-item>
            <br/>
            <button ion-button type="submit"  color="secondary" block>Submit</button>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
               Select City And Country
              </ion-card-header>
              <ion-list>
                <button ion-item (click)="getCity()">
                  <ion-icon name="locate" item-start></ion-icon>
                 <strong> {{city}}</strong>
                  <p>{{country}}</p>
                </button>
                <button ion-item>
                    <ion-icon name="locate" item-start></ion-icon>
                   <strong> {{city}}</strong>
                    <p>{{country}}</p>
                  </button>
                  <button ion-item>
                      <ion-icon name="locate" item-start></ion-icon>
                     <strong> {{city}}</strong>
                      <p>{{country}}</p>
                    </button>
              </ion-list>
            </ion-card>
          </ion-col>

      </ion-row>
   
  </ion-grid>
</ion-content>
