.home {
  //background: linear-gradient(top, rgba(254, 182, 69, 1) 0%, rgba(241, 231, 103, 1) 100%);
  background: linear-gradient(top, rgba(90, 159, 200, 1) 0%, rgba(163, 188, 205, 1) 99%, rgba(188, 224, 238, 1) 100%);
}

.grid {
  padding: 0px;
}

.col {
  padding: 0px;
}
