<ion-header>

  <ion-navbar>
    <ion-title>News</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header class="align-center">
      Sport Sites
    </ion-list-header>
    <button ion-item (click)="getBBCNews()">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/bbcsport.png">
      </ion-thumbnail>
      <h2>BBC Sports</h2>
      <h3>Latest BBC Sport News</h3>
      <button ion-button clear item-end color="secondary">View</button>
    </button>
    <button ion-item (click)="getFourfourtwo()">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/fourfourtwo-logo.png">
      </ion-thumbnail>
      <h2>FourFourTwo Sports</h2>
      <h3>Latest FourFourTwo News</h3>
      <button ion-button clear item-end color="secondary">View</button>
    </button>
    <button ion-item (click)="getSportbible()">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/spbible.png">
      </ion-thumbnail>
      <h2>SportBible</h2>
      <h3>Latest SportBible News</h3>
      <button ion-button clear item-end color="secondary">View</button>
    </button>
    <button ion-item (click)="getTalksport()">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/tksport.png">
      </ion-thumbnail>
      <h2>TalkSport</h2>
      <h3>Latest TalkSport News</h3>
      <button ion-button clear item-end color="secondary">View</button>
    </button>
  </ion-list>
</ion-content>
