<ion-header>

  <ion-navbar>
    <ion-title>FourFourTwo Sports</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let news of fourFourtwo">
    <ion-item>
      <h2>{{news.author}}</h2>
      <p>{{news.publishedAt | date: 'MMM d, y, h:mm:ss a'}}</p>
    </ion-item>

    <img src={{news.urlToImage}}>

    <ion-card-content>
      <p>{{news.description}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button block color="dark" (click)="openBrowser(news.url)">
          ReadMore
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
